nbproject
._*
*.pyc
.~lock.*
local.*
.buildpath
.DS_Store
.idea
.flag
.txt
local/*.json
.project
.settings
composer.lock
.pydevproject
__pycache__
extractor/__pycache__
extractor/ner/__pycache__
fp/__pycache__
ffeor/data/process.flag
LastRequest.flag
*.flag
/review_study.iml
/web_profile/
/log/
